<%- include('header') -%>
<title>Forgotten Password</title>
</head>

<body>
  <%- include('navbar') -%>
  <div class="container-fluid full-height ">

    <div class="row full-height d-flex justify-content-center">

        <div class="col-md-6 align-self-center">

          <div class="card login-card align-self-center">
            <div class="card-body">
              <h2 class="card-title text-center">Forgotten Password</h2>
            
                <form action="/forgottenpassword" method="POST">
                  
                  <div class="form-group">
                      <label for="username">Username</label>
                      <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                  </div>
                  <% if (typeof error !== 'undefined') { %>
                  <div class="form-group">
                    <small class="form-text text-danger"><%= error %></small>
                  </div>
                  <% } %>
                  <button type="submit" class="btn btn-dark btn-block">Generate new password</button>
          
                </form>

            </div>
          </div>

    </div>


</div>

  <%- include('scripts') -%>
</body>

</html>