<%- include('header') -%>
<title>BubbleImage</title>
</head>

<body>
  <%- include('navbar') -%>

  <br />
  <br />
  <br />
  <br />
  <div class="row full-height d-flex justify-content-center">
    <div class="col-md-6 align-self-center">

      <a href="bubbleimage" class="btn btn-lg btn-block btn-dark">Play</a></br></br>
      <a href="leaderboard" class="btn btn-lg btn-block btn-dark">Leaderboard</a>

    </div>
  </div>

  <%- include('scripts') -%>
</body>

</html>